<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nick.netwatch.gwping</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/nick/netwatch/gwping.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/nick/netwatch</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>30</integer>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>/Users/nick/netwatch/launchd.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/nick/netwatch/launchd.err</string>
</dict>
</plist>
